<header xmlns:th="www.thymeLeaf.org" th:fragment="header" class="sticky-top header-area"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div>
        <nav class="navbar navbar-expand d-flex justify-content-around align-items-center">
            <!-- Links -->
            <div>
                <button class="fa fa-bars d-lg-none d-block" id="button-nav" onclick="openNav()"></button>
            </div>
            <a  href="/"><img src="/img/logo.png" class="logo logo-image"></a>
            <ul class="navbar-nav d-none d-lg-block">
                <div class="row">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">FLOWERS</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">PLANTS</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">GIFTS & SWEETS</a>
                    </li>
                </div>
            </ul>
            <div class="row d-flex align-items-center">
                <button type="button" data-toggle="collapse" data-target="#search" th:href="@{/search}" class="nav-icon search">
                    <i class="fa fa-search"></i>
                    <p class="d-none d-md-block mb-0">Search</p>
                </button>
                <a onclick="openLogin()" class="nav-icon d-lg-block d-none" sec:authorize="!isAuthenticated()">
                    <i class="fa fa-user-circle"></i>
                    <p class="d-none d-lg-block mb-0">Account</p>
                </a>
                <a th:href="@{/cart}" class="nav-icon">
                    <i class="fa fa-shopping-cart"></i>
                    <p class="d-none d-md-block mb-0">Card</p>
                </a>
                <div class="nav-link dropdown d-none d-lg-block" sec:authorize="isAuthenticated()">
                    <a class="dropdown-toggle" id="user_dropdown" data-toggle="dropdown"
                       href="#">
                        <img class="rounded-circle user-thumbnail" width="35" height="35"
                             src="/img/default_profile_picture.png">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_dropdown">
                        <a th:href="@{/profile/userprofile}" class="dropdown-item">My profile</a>
                        <a th:href="@{/logout}" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="search" class="collapse row mb-2">
            <div class="col-1 col-md-2 col-lg-3"></div>
            <input type="text" class="form-control col-10 col-md-8 col-lg-6" id="searchInfor" name="searchInfor" placeholder="Search for activities"></div>

        <div id="mySidenav" class="sidenav col-lg-4 col-md-6 col-12 p-0">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="col-8 col-md-10 col-lg-10 mx-auto mt-5">
                <form th:action="@{/login}" method="POST" id="login_form">
                    <h4 class="main_label">
                        Sign in
                    </h4>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Username or password is incorrect.
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control"
                               name="email" placeholder="Enter email" required>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                               name="password" placeholder="Enter password" required>
                    </div>
                    <button type="submit" class="view-detail-button visible mt-5">LOGIN</button>
                </form>
                <p class="main-p text-left my-3">Do you have account?</p>
                <button onclick="openCreateAccount()" class="create-account-link ml-0 px-0">Create account</button>
            </div>
        </div>

        <div id="mySidenav1" class="sidenav col-lg-4 col-md-6 col-12 p-0">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="col-8 col-md-10 col-lg-10 mx-auto mt-5">
                <form id="create-account-form">
                    <h4 class="main_label">
                        Sign up
                    </h4>
                    <div class="alert alert-danger create-error" role="alert">Email has exit, Please try again!</div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control"
                               id="firstname" placeholder="Enter first name" required/>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control"
                               id="lastname" placeholder="Last name" required/>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control"
                               id="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                               id="password" placeholder="Enter password" required>
                    </div>
                    <div class="alert alert-danger check-field" role="alert">Please try enter all field!</div>
                    <button type="button" class="view-detail-button visible mt-5" id="create-account">CREATE
                        ACCOUNT
                    </button>
                </form>
            </div>
        </div>
        <div id="mySidenav2" class="sidenav col-lg-4 col-md-6 col-12 p-0">
            <div class="ml-5 mt-5">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a onclick="openLogin()" class="menu-link" sec:authorize="!isAuthenticated()">
                    <p class="text-left"><span class="fa fa-user-circle mr-2"></span>SIGN IN</p>
                </a>
                <div sec:authorize="isAuthenticated()">
                    <a href="/myprofile">
                        <p class=""><img class="rounded-circle user-thumbnail mr-2" width="35" height="35"
                                         src="/img/default_profile_picture.png"><span
                                class="menu-link">Story's flower</span></p>
                    </a>
                </div>
            </div>
            <hr class="hr mx-3"/>
            <div class="ml-5">
                <div class="navbar px-0">
                    <ul class="navbar-nav">
                        <div class="">
                            <li class="nav-item py-2">
                                <a class="menu-link" th:href="@{/}"><span
                                        class="fa fa-home mr-2"></span><span>Home</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item py-2">
                                <a class="menu-link"><span class="fa fa-spa mr-2"></span><span>Flowers</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item py-2">
                                <a class="menu-link"><span class="fa fa-seedling mr-2"></span><span>Plants</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item py-2">
                                <a class="menu-link"><span class="fa fa-gift mr-2"></span><span>Gifts And Sweets</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="nav-item py-2" sec:authorize="isAuthenticated()">
                                <a class="menu-link" th:href="@{/logout}"><span
                                        class="fa fa-sign-out-alt mr-2"></span><span> Logout</span></a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>