<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

