.cart-image{
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.main-image-detail{
    outline: none;
    box-shadow: none;
}

table {
    border-collapse: collapse;
    width: 80%;
}
th{
    text-align:center;
    border: 1px solid #dddddd;
    padding: 10px;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FEFBFA ;
}

.continue-shopping{
}

.title-cart{
    background: #007CAD;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shopping-cart{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px dotted #ddd;
    border-top: none;
}

li{
    list-style-type: none;
    font-weight: normal;
}

.custom-form-control{
    width: fit-content;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-right-color: rgb(206, 212, 218);
    border-bottom-color: rgb(206, 212, 218);
    border-left-color: rgb(206, 212, 218);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-hr{
    border-top: 1px dotted #dddddd;
}
